.btn-controls {
	text-align: center;
}

.variation-form {
  padding-top: 20px;
  border-top: 1px solid #ccc;
  padding-bottom: 20px;
}

.experiment-form {
  padding-bottom: 10px; 
}

.experiment-table {
	margin-top: 20px;
}